<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Job Matcher</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="users/sign_in" role="button">
    Log In
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="users/sign_up" role="button">
      Sign Up
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-danger" rel="nofollow" data-method="delete" href="users/sign_out" role="button">
      Log Out
      </a>
    </div>
  </form>
</nav>

</br>


    <h2>Welcome to job posting index</h2>
    <br/>

    <% @job_posting.each do |job_post| %>

<div class="row" style="padding-left: 50px;">

    <div class="column">

    <h4>
        Job Post Title: <strong> <%= job_post.job_post_title %> </strong>
    </h4>

    <br/>

    <p>
      <strong>Job Post Description:</strong>
        </br>
      <%= job_post.job_description %>
    </p>

    <br/>

    <p>
      <strong>Project Start Date:</strong>
        </br>
    </p>

    <br/>

    <p>
      <strong>Project Type:</strong>
        </br>
      <%= job_post.project_type.name %>
    </p>

    <br/>

    <p>
      <strong>Job Category:</strong>
        </br>
      <%= job_post.job_category.name %>
    </p>

    <br/>

    <p>
      <strong>Job post title:</strong>
        </br>
      <%= job_post.experience_level_hourly_rate.name %>
    </p>

    </div>
</div>

    <% end %>