<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<div class ="container">
	<div class="row">

		<div class="col-4">
			<ul style="list-style-type:circle;">
					<li>Basic Profile</li>
					<li><strong>Expertise</strong></li>
			</ul>
		</div>

		<div class="col-8">
						<%= form_with scope: :freelancer, url: freelancer_create_expertise_path, local: true do |form| %>
						  <p>
						    <%= form.label :'What is your main service offering to client?' %><br>
						    <%= form.collection_select :job_category_id, @job_categories, :id, :name %>
						  </p>


						  <p>
						    <%= form.label :'What is your experience level?' %><br>
						    <%= form.collection_radio_buttons :experience_level_hourly_rate_id, @experience_levels, :id, :name %>
						  </p>

						  <p>
						    <%= form.label :'Prefered payment type?' %><br>
						    <%= form.collection_radio_buttons :payment_type_id, @payment_type, :id, :name %>
						  </p>

						  <p>
						    <%= form.submit value="Next"%>
						  </p>
		</div>
	</div>
</div>

<% end %>