<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Job Matcher</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="users/sign_in" role="button">
    Log In
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="users/sign_up" role="button">
      Sign Up
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-danger" rel="nofollow" data-method="delete" href="users/sign_out" role="button">
      Log Out
      </a>
    </div>
  </form>
</nav>

<div class ="container">
	<div class="row">

		<div class="col-4">
			<ul style="list-style-type:circle;">
					<li>Basic Profile</li>
					<li><strong>Expertise</strong></li>
			</ul>
		</div>

		<div class="col-8">
						<%= form_with scope: :freelancer, url: freelancer_create_expertise_path, local: true do |form| %>
						  <p>
						    <%= form.label :'What is your main service offering to client?' %><br>
						    <%= form.collection_select :job_category_id, @job_categories, :id, :name %>
						  </p>


						  <p>
						    <%= form.label :'What is your experience level?' %><br>
						    <%= form.collection_radio_buttons :experience_level_hourly_rate_id, @experience_levels, :id, :name %>
						  </p>

						  <p>
						    <%= form.label :'Prefered payment type?' %><br>
						    <%= form.collection_radio_buttons :payment_type_id, @payment_type, :id, :name %>
						  </p>

						  <p>
						    <%= form.submit value="Next"%>
						  </p>
		</div>
	</div>
</div>

<% end %>