


<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Job Matcher</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="users/sign_in" role="button">
    Log In
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="users/sign_up" role="button">
      Sign Up
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-danger" rel="nofollow" data-method="delete" href="users/sign_out" role="button">
      Log Out
      </a>
    </div>
  </form>
</nav>


<div class ="container">

	<div class="row">

		<div class="col-4">
			<ul style="list-style-type:circle;">
					<li><strong>Basic Profile</strong></li>
					<li>Expertise</li>
			</ul>
		</div>

		<div class="col-8">
						<%= form_with scope: :freelancer, url: freelancer_create_profile_path, local: true do |form| %>

						  <p>
						    <%= form.label :'Add your professional title' %><br>
						    <%= form.text_field :professional_title %>
						  </p>

						  <p>
						    <%= form.label :'Write your professional overview'%><br>
						     <%= form.text_area :professional_overview, size: "60x12" %>
						  </p>

						  <p>
						    <%= form.label :'When in your available date?'%><br>
						     <%= form.text_field :start_work_date  %>
						  </p>

						  <p>
						    <%= form.label :'Highest Education'%><br>
						     <%= form.text_field :tietiary  %>
						  </p>

						  <p>
						    <%= form.submit value="Submit"%>
						    <%= link_to 'Back', freelancer_register_expertise_path %>
						  </p>
		</div>
	</div>
</div>


<% end %>