
<div class ="container">

	<div class="row">

		<div class="col-4">
			<ul style="list-style-type:circle;">
			<li style="color: #1F8496">
					<li><strong>Basic Profile &#10063</strong></li>
					<li>Expertise &#10063</li>
			</ul>
		</div>

		<div class="col-8">

			<h2>Profile</h2>
    	<p>Step 1 of 2</p>

						<%= form_with scope: :freelancer, url: freelancer_create_profile_path, local: true do |form| %>

						  <p>
						    <%= form.label :'Add your professional title' %><br>
						    <%= form.text_field :professional_title %>
						  </p>

						  <p>
						    <%= form.label :'Write your professional overview'%><br>
						     <%= form.text_area :professional_overview, size: "60x12" %>
						  </p>

						  <p>
						    <%= form.label :'When in your available date?'%><br>
						     <%= form.text_field :start_work_date  %>
						  </p>

						  <p>
						    <%= form.label :'Highest Education'%><br>
						     <%= form.text_field :tietiary  %>
						  </p>

						  <p>

						  	<%= button_tag(type: 'submit', class: "btn btn-success btn-block") do %>
             		<i class="icon-ok icon-white"></i> Submit
            		<% end %>
						    <%= link_to 'Back', freelancer_register_expertise_path %>

						  </p>
		</div>
	</div>
</div>


<% end %>