


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Logo | Freelancer View</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Job Repository</a>
      </li>
    </ul>
  </div>
</nav>


<div class ="container">

	<div class="row">

		<div class="col-4">
			<ul style="list-style-type:circle;">
					<li><strong>Basic Profile</strong></li>
					<li>Expertise</li>
			</ul>
		</div>

		<div class="col-8">
						<%= form_with scope: :freelancer, url: freelancer_create_profile_path, local: true do |form| %>

						  <p>
						    <%= form.label :'Add your professional title' %><br>
						    <%= form.text_field :professional_title %>
						  </p>

						  <p>
						    <%= form.label :'Write your professional overview'%><br>
						     <%= form.text_area :professional_overview, size: "60x12" %>
						  </p>

						  <p>
						    <%= form.label :'When in your available date?'%><br>
						     <%= form.text_field :start_work_date  %>
						  </p>

						  <p>
						    <%= form.label :'Highest Education'%><br>
						     <%= form.text_field :tietiary  %>
						  </p>

						  <p>
						    <%= form.submit value="Submit"%>
						    <%= link_to 'Back', freelancer_register_expertise_path %>
						  </p>
		</div>
	</div>
</div>


<% end %>