
<h1>Create Freelance </h1>
<h3>Register Profile</h3>

<%= form_with scope: :freelancer, url: freelancer_create_profile_path, local: true do |form| %>
  <p>
    <%= form.label :'Add your professional title' %><br>
    
   <%= form.text_field :professional_title %>
  </p>

  <p>
    <%= form.label :'Write your professional overview'%><br>
     <%= form.text_area :professional_overview %>
  </p>

  <p>
    <%= form.submit value="Submit"%>
    <%= link_to 'Back', freelancer_register_expertise_path %>

  </p>
<% end %>




